.slider
{
    margin:0 auto;
    width:100%;
    height:100%;
    overflow:hidden;
    border-radius:10px;
}
.slides
{
    width:300%;
    height:100%;
    display:flex;
}
.slides input
{
    display:none;
}
.slide
{
    width:calc(100%/3);
    height:100%;
    position:relative;
    transition:1.5s;
}
.slide img
{
    width:100%;
    height:100%;
    aspect-ratio:1/1;
}

.manual-navigation
{
    width:calc(100% - 455px);
    margin-top:-40px;
    display:flex;
    justify-content:center;
    position:absolute;
}
.manual-btn
{
    border:2px solid var(--white-base);
    padding:5px;
    border-radius:10px;
    cursor:pointer;
    transition:1s;
}
.manual-btn:not(:last-child)
{
    margin-right:40px;
}
.manual-btn:hover
{
    background-color:var(--white-base);
}

#radio1:checked ~ .first
{
    margin-left:0
}
#radio2:checked ~ .first
{
    margin-left:calc(-100%/3)
}
#radio3:checked ~ .first
{
    margin-left:calc(-100%*(2/3))
}
#radio1:checked ~ .navigation-auto .auto-btn1
{
    background-color:var(--white-base);
}
#radio2:checked ~ .navigation-auto .auto-btn2
{
    background-color:var(--white-base);
}
#radio3:checked ~ .navigation-auto .auto-btn3
{
    background-color:var(--white-base);
}

.navigation-auto
{
    position:absolute;
    width:800px;
    margin-top:400px;
    display:flex;
    justify-content:center;
}
.navigation-auto div
{
    border:2px solid var(--white-base);
    padding:5px;
    border-radius:10px;
    cursor:pointer;
    transition:1s;
}
.navigation-auto div:not(:last-child)
{
    margin-right:40px;
}

.post
{
    width:100%;
    border-radius:10px;
    box-shadow:0 5px 10px 1px rgba(0, 0, 0, 0.5);
}
.post img
{
    width:100%;
    height:175px;
    align-items:center;
    border-radius:10px 10px 0 0;
    aspect-ratio:1/1;
}
.post h2
{
    width:calc(100% - 40px);
    text-align:center;
    margin:20px 20px 10px 20px;
    font-size:20px;
}
.post.dark-mode h2
{
    color:var(--blue-base);
}
.post p
{
    width:calc(100% - 40px);
    height:100px;
    text-align:justify;
    word-break:break-all;
    overflow:hidden;
    margin:0 20px 20px 20px;
    font-size:14px;
}
.post button
{
    width:100%;
    height:40px;
    background-color:var(--blue-base);
    border-radius:0 0 10px 10px;
    color:var(--white-base);
    border:none;
    cursor:pointer;
    font-size:15px;
    font-weight:bold;
    transition:0.3s;
}
.post button:hover
{
    background-color:var(--gray-base);
    color:var(--blue-base);
}
.post.dark-mode button
{
    background-color:var(--red-base);
}
.post.dark-mode button:hover
{
    background-color:var(--gray-base);
    color:var(--red-base);
}