.reqs-docs
{
    width:auto;
    display:grid;
    grid-gap:10px;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    justify-content:center;
}
.reqs-docs-item
{
    border-radius:10px;
    width:100%;
    height:50px;
    color:white;
    display:flex;
    align-items:center;
    flex-direction:column;
    transition:all 0.3s ease;
}
.reqs-docs-item-head
{
    text-align:center;
    width:calc(100% - 20px);
    font-weight:bold;
    font-size:18px;
    font-family:Poppins;
    padding:10px;
}
.reqs-docs-item:hover
{
    cursor:default;
    background:linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(144,144,144,1) 100%);
}

#rdit_1 {background:linear-gradient(135deg, rgba(122,217,70,1) 0%, rgba(37,68,21,1) 100%);}
#rdit_2 {background:linear-gradient(135deg, rgba(70,152,217,1) 0%, rgba(21,48,68,1) 100%);}
#rdit_3 {background:linear-gradient(135deg, rgba(217,70,70 ,1) 0%, rgba(68,21,21,1) 100%);}
#rdit_4 {background:linear-gradient(135deg, rgba(217,193,70,1) 0%, rgba(68,62,21,1) 100%);}
#rdit_5 {background:linear-gradient(135deg, rgba(176,70,217,1) 0%, rgba(53,21,68,1) 100%);}
#rdit_6 {background:linear-gradient(135deg, rgba(70 ,75,217,1) 0%, rgba(21,21,68,1) 100%);}

#rdit_1:hover {color:#5ba334; background:linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%);}
#rdit_2:hover {color:#4698d9; background:linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%);}
#rdit_3:hover {color:#D94646; background:linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%);}
#rdit_4:hover {color:#a89636; background:linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%);}
#rdit_5:hover {color:#B046D9; background:linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%);}
#rdit_6:hover {color:#464BD9; background:linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%);}

.reqs-form
{
    justify-content:left;
    height:auto;
    border-radius:10px;
    margin-top:10px;
}
.reqs-form-prev
{
    width:300px;
    padding:25px;
    font-family:Poppins;
    text-align:justify;
    color:white;
    border-radius:10px 0 0 10px;
}
.reqs-form-prev-text
{
    font-size:14px;
}
.reqs-form-form
{
    padding:25px;
    font-family:Poppins;
    font-size:16px;
    border-collapse:collapse;
}
.reqs-form-form tbody
{
    box-shadow:0 0 10px 1px #464BD9;
    border-radius:18px;
}
.reqs-form-form-th, .reqs-form-form-td
{
    padding:8px 14px 8px 14px;
}
.reqs-form-form-th
{
    text-align:left;
    background:#464BD9;
    color:white;
}
.reqs-form-form-th:first-child
{
    border-top-left-radius:15px;
}
.reqs-form-form-th:last-child
{
    border-top-right-radius:15px;
}
.reqs-form-form tr:nth-child(odd)
{
    background:#ddd;
}
.reqs-form-form.dark-mode tr:nth-child(odd)
{
    background:#111;
}
#form_3 article div
{
    border-radius:8px;
    background:var(--white-base);
    box-shadow:0 0 5px 1px rgba(0, 0, 0, 0.25);
    padding:10px;
    width:300px;
    height:75px;
    transition:0.3s;
}
#form_3 article div:hover
{
    cursor:default;
}
#form_3 article div.actv
{
    background:#68deff;
}
#form_3 article div.aprv
{
    background:#3de474;
}
#form_3 article div.retd
{
    background:#f11557;
}
#form_3 article div.next
{
    background:#999;
}
#form_3 article div h1,
#form_3 article div h2,
#form_3 article div p
{
    margin:0;
    font-size:16px;
}
#form_3 article div label
{
    justify-content:unset;
}
#form_6 .reqs-form-form tbody
{
    box-shadow:0 0 10px 1px #464BD9;
    border-radius:18px;
}
#form_6 .reqs-form-form-th, .reqs-form-form-td
{
    padding:8px 14px 8px 14px;
}
#form_6 .reqs-form-form-th
{
    text-align:left;
    background:#464BD9;
    color:white;
}
#form_6 .reqs-form-form-th:first-child
{
    border-top-left-radius:15px;
}
#form_6 .reqs-form-form-th:last-child
{
    border-top-right-radius:15px;
}
#form_6 .reqs-form-form tr:nth-child(odd)
{
    background:#ddd;
}
#form_6 .reqs-form-form.dark-mode tr:nth-child(odd)
{
    background:#111;
}

#form_1 {box-shadow:0 0 10px -1px #5ba334;}
#form_2 {box-shadow:0 0 10px -1px #4698d9;}
#form_3 {box-shadow:0 0 10px -1px #D94646;}
#form_4 {box-shadow:0 0 10px -1px #a89636;}
#form_5 {box-shadow:0 0 10px -1px #B046D9;}
#form_6 {box-shadow:0 0 10px -1px #464BD9;}

#form_1 .reqs-form-prev {background:#5ba334;}
#form_2 .reqs-form-prev {background:#4698d9;}
#form_3 .reqs-form-prev {background:#D94646;}
#form_4 .reqs-form-prev {background:#a89636;}
#form_5 .reqs-form-prev {background:#B046D9;}
#form_6 .reqs-form-prev {background:#464BD9;}

.reqs-form-labl
{
    font-family:Poppins;
    font-weight:bold;
    color:#999;
    font-size:18px;
}
.reqs-form-inpt, .reqs-form-butn, .reqs-form-data
{
    border-radius:10px;
    border:solid 1px lightgray;
    width:300px;
    height:35px;
    padding:5px 8px 8px 8px;
    font-family:"Leelawadee UI";
}
.reqs-form-inpt[type="button"]
{
    transition:all 0.3s ease;
}
.reqs-form-inpt[type="button"]:hover
{
    cursor:pointer;
    background:#ddd;
}
.reqs-form-inpt.dark-mode
{
    background:transparent;
    border-color:black;
}
.reqs-form-inpt.dark-mode[type="button"]
{
    background:#1A1A1A;
}
.reqs-form-inpt.dark-mode[type="button"]:hover
{
    cursor:pointer;
    background:#111;
}
.reqs-form-inpt:focus, .reqs-form-butn:focus, .reqs-form-data:focus
{
    outline:0;
}
.reqs-form-data
{
    width:282px;
    height:20px;
}
.reqs-form-data.dark-mode
{
    width:282px;
    height:20px;
    border: solid 1px black;
    background-color:#101010;
}
.reqs-form-data.dark-mode::-webkit-calendar-picker-indicator
{
    filter:invert();
}
.reqs-form-optn
{
    height:20px;
    width:20px;
    border-radius:10px;
    border:solid 1px lightgray;
}
.reqs-form-butn
{
    border:none;
    color:white;
    font-weight:bold;
    transition:all 0.3s ease;
}
.reqs-form-butn:hover
{
    cursor:pointer;
    filter:brightness(0.85);
}

#form_1 .reqs-form-butn {background:#5ba334;}
#form_2 .reqs-form-butn {background:#4698d9;}
#form_3 .reqs-form-butn {background:#D94646;}
#form_4 .reqs-form-butn {background:#a89636;}
#form_5 .reqs-form-butn {background:#B046D9;}
#form_6 .reqs-form-butn {background:#464BD9;}