.student-card, .informt-card
{
    width:600px;
    height:300px;
    border-radius:25px;
    background:#D1ECFF;
    display:flex;
    position:relative;
    box-shadow:0 0 8px 1px var(--blue-base);
}
.card-imge
{
    height:300px;
    width:225px;
    background:lightgray;
    background-size:cover;
    background-position:center;
    border-radius:25px 0 0 25px;
}
.card-text
{
    display:flex;
    flex-direction:column;
    width:325px;
    padding:25px;
}
.card-exit
{
    right:-40px;
    position:absolute;
    font-weight:bold;
    height:30px;
    width:30px;
    background:var(--red-dark);
    color:white;
    border-radius:5px;
    border:none;
    transition:0.3s;
}
.card-exit:hover
{
    cursor:pointer;
    background:#ddd;
    color:var(--red-dark);
}
.student-card h4,
.student-card p,
.informt-card h4,
.informt-card p
{
    word-break:break-word;
    margin:0 0 15px 0;
    font-size:25px;
    color:var(--red-base);
    font-weight:bold;
    font-family:"Leelawadee UI";
}
.student-card p,
.informt-card p
{
    margin:0 0 5px 0;
    font-size:15px;
    color:#777;
}
.student-card p:nth-child(even),
.informt-card p:nth-child(even)
{
    color:var(--blue-base)
}
.update-group
{
    font-family:"Bahnschrift";
    margin:20px 0 5px 0;
}
.update-label
{
    font-weight:bold;
    font-family:"Arial";
    color:var(--red-dark);
    margin-top:5px;
}
.update-label.dark-mode
{
    color:var(--blue-base);
}
.update-input
{
    background:transparent;
    font-size:18px;
    padding:8px 8px 5px 8px;
    border-radius:5px 5px 0 0;
    border-style:solid;
    border-width:0 0 1px 0;
    border-color:black;
    margin-bottom:5px;
    transition:all 0.3s ease;
}
.update-input[disabled]
{
    background:#eee;
    color:#bbb;
    cursor:not-allowed;
}
.update-input:not([disabled]):hover
{
    color:var(--blue-base);
    border-color:var(--blue-base);
}
.update-input.dark-mode
{
    border-color:#cecece;
}
.update-input.dark-mode[disabled]
{
    color:#606060;
    background:#222;
}
.update-input.dark-mode:not([disabled]):hover
{
    color:var(--red-dark);
    border-color:var(--red-dark);
}