.student-card
{
    width:305px;
    height:605px;
    border-radius:25px;
    padding:20px;
    background:linear-gradient(135deg, var(--blue-base) 0%, #194982 100%);
}
.card-imge
{
    height:120px;
    width:90px;
    background:lightgray;
    margin-bottom:8px;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:all 0.3s ease;
}
.card-imge img
{
    height:100%;
    width:100%
}
.card-imge:hover
{
    filter:brightness(0.8);
    cursor:pointer;
}
.card-name, .card-text
{
    margin:0 0 15px 0;
    font-size:25px;
    color:var(--white-base);
    font-weight:bold;
    font-family:"Leelawadee UI";
}
.card-text
{
    margin:0 0 5px 0;
    font-size:15px;
    color:#b5dcf5;
}
.update-group
{
    font-family:"Bahnschrift";
    margin:20px 0 5px 0;
}
.update-label
{
    font-weight:bold;
    font-family:"Arial";
    color:var(--red-dark);
    margin-top:5px;
}
.update-label.dark-mode
{
    color:var(--blue-base);
}
.update-input
{
    background:transparent;
    font-size:18px;
    padding:8px 8px 5px 8px;
    border-radius:5px 5px 0 0;
    border-style:solid;
    border-width:0 0 1px 0;
    border-color:black;
    margin-bottom:5px;
    transition:all 0.3s ease;
}
.update-input[disabled]
{
    background:#eee;
    color:#bbb;
    cursor:not-allowed;
}
.update-input:not([disabled]):hover
{
    color:var(--blue-base);
    border-color:var(--blue-base);
}
.update-input.dark-mode
{
    border-color:white;
}
.update-input.dark-mode[disabled]
{
    color:#3a3a3a;
    background:#222;
}
.update-input.dark-mode:not([disabled]):hover
{
    color:var(--red-dark);
    border-color:var(--red-dark);
}

#studform
{
    padding:30px;
    width:calc(100% - 60px);
    height:calc(100vh - 200px);
    overflow-y:scroll;
}
#studform::-webkit-scrollbar
{
    width:20px;
}
#studform::-webkit-scrollbar-track
{
    background:transparent;
}
#studform::-webkit-scrollbar-thumb
{
    border-radius:10px;
    background:var(--red-base)
}