@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* variáveis globais */
:root
{
    /* general colors */
    --red-base:#d72b48;
    --red-dark:#bf0000;

    --gray-base:#d4cdce;

    --blue-base:#0198f8;

    /* font families */
    --ffml-base:"Poppins";
    --ffml-text:"Roboto";
}

/* estrutura */
body
{
    margin:0;
    display:flex;
    justify-content:center;
    font-family:var(--ffml-base);
    /* background:var(--gray-base); */
    background-image:url("https://wallpaperaccess.com/full/1850865.jpg");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}
button:focus, input:focus, select:focus
{
    outline:0;
}
label
{
    user-select:none;
}

/* formulário */
.mainform
{
    position:fixed;
    top:0; bottom:0;
    font-family:"Bahnschrift";
}
.maininpt
{
    width:350px;
    padding:10px;
    border-radius:4px;
    border:1px solid #ccc;
    margin:0 0 20px 10px;
    transition:all 0.3s ease;
}
.maininpt:focus
{
    box-shadow:0 0 5px 1px var(--red-dark)
}
.mainbutn, .demibutn
{
    background:var(--red-dark);
    color:white;
    height:41px;
    padding:11px 0 6px 0;
    border:none;
    border-radius:4px;
    font-family:"Bahnschrift";
    font-weight:bold;
    font-size:17px;
    transition:all 0.3s ease;
}
.mainbutn:hover, .demibutn:hover
{
    cursor:pointer;
    background:#ddd;
    color:var(--red-dark)
}
.labltext
{
    height:37px;
    width:70px;
    margin:0 10px 20px 0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:right;
}

/* barra superior */
.topbar
{
    position:fixed;
    top:0; left:100px;
    align-items:center;
    width:100%;
    height:100px;
    background-color:#fefefe;
    box-shadow:0 0 10px -1px rgba(0, 0, 0, 0.7);
    z-index:2;
}
.topbar-link
{
    color:#222;
    text-decoration:none;
    font-family:"Arial";
    font-weight:bold;
    margin:20px 30px 10px 30px;
    transition:all 0.5s ease;
}
.topbar-link:hover
{
    color:var(--red-dark)
}
.topbar-hr
{
    width:500px;
    border:solid 2px #222;
}
.saga-titl
{
    width:auto;
    height:50px;
    position:fixed;
    left:130px;
}
.saga-stud
{
    position:fixed;
    right:15px;
    padding:10px 10px 10px 24px;
    border-radius:10px;
    transition:all 0.3s ease;
}
.saga-stud:hover
{
    cursor:default;
    background:#222;
    top:15px;
}
.saga-stud:hover .stud-name,
.saga-stud:hover .stud-mail
{
    color:#fefefe;
}
.saga-stud:hover .stud-text
{
    margin-top:11px;
}
.saga-stud:hover .stud-hidden
{
    position:relative;
    visibility:visible;
    opacity:1;
}
.stud-ball
{
    width:50px;
    height:50px;
    background:#ddd;
    border-radius:50%;
    background-size:cover;
    background-position:center;
}
.stud-name, .stud-mail
{
    color:#222;
    font-size:15px;
    font-family:"Arial";
    font-weight:bold;
    margin:0 15px 0 0;
    text-align:right;
    transition:all 0.2s ease;
}
.stud-mail
{
    font-size:10px;
}
.stud-hidden
{
    visibility:hidden;
    position:fixed;
    opacity:0;
}
.stud-link
{
    width:80px;
    padding:3px 0 3px 0;
    color:#fefefe;
    font-size:13px;
    font-family:"Arial";
    text-decoration:none;
    transition:all 0.3s ease;
}
.stud-link:hover
{
    filter:brightness(0.75);
}

/* barra lateral */
.sidebar
{
   position:fixed;
   top:0; left:0;
   height:100%;
   background:#222;
   color:#fefefe;
   padding:0 25px 0 25px;
   width:200px;
   z-index:3;
   transition:all 0.3s ease
}
.sidebar .clmalign
{
    gap:15px
}
.sidebar-link
{
    display:flex;
    align-items:center;
    color:#fefefe;
    height:50px;
    background:#111;
    border-radius:25px;
    text-decoration:none;
    transition:all 0.3s ease
}
.sidebar-link:hover
{
    cursor:pointer;
    color:var(--red-base)
}
.sidebar-link:hover .sidebar-icon
{
    background:var(--red-base)
}
.sidebar-icon
{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
    aspect-ratio:1/1;
    background:#111;
    border-radius:50%;
    transition:all 0.3s ease
}
.sidebar-icon img
{
    width:25px;
    height:25px;
    filter:invert(1)
}
.sidebar-label
{
    margin-left:10px;
    font-size:15px;
    font-weight:bold;
    font-family:var(--ffml-base)
}
.sidebar-menu
{
    position:fixed;
    margin:25px 0 0 25px;
    top:0; left:0;
    transition:all 0.3s ease
}
.sidebar-menu:hover
{
    cursor:pointer;
    filter:brightness(0.75);
}

/* caixas de conteúdo */
.content
{
    margin:100px 0 0 100px;
    padding:20px;
    width:100%;
}
.grid-box-1, .grid-box-2
{
    display:grid;
    grid-gap:15px;
}
.grid-box-1
{
    grid-template-columns:300px 1fr;
}
.grid-box-2
{
    grid-template-rows:calc(60vh - 80px) calc(40vh - 75px);
}

.box, .box1, .box2, .box3
{
    background:white;
    border-radius:10px;
    box-shadow:0 0 10px -1px rgba(0, 0, 0, 0.7);
}
.box, .box1
{
    width:calc(100% - 20px);
    padding:10px;
}
.box1
{
    height:calc(100vh - 160px);
    overflow-y:scroll;
    display:grid;
    grid-gap:10px;
}
.box1::-webkit-scrollbar
{
    width:20px;
}
.box1::-webkit-scrollbar-track
{
    background:transparent;
}
.box1::-webkit-scrollbar-thumb
{
    border-radius:10px;
    background:var(--red-base)
}
.box2
{
    width:100%;
}
.box3
{
    width:calc(100% - 50px);
    padding:25px;
    overflow-y:hidden;
    color:#1c2c46;
    font-family:var(--ffml-text)
}

/* miscelâneo */
.vertline
{
    height:95px;
    width:4px;
    border-radius:2px;
    background:lightgray;
}
.rowalign, .clmalign
{
    display:flex;
    justify-content:center;
}
.rowalign
{
    flex-direction:row;
}
.clmalign
{
    flex-direction:column;
}
.collapse
{
    width:50px;
}
.invobjct
{
    visibility:hidden;
    position:fixed;
    opacity:0;
}
#left-profile
{
    justify-self:left;
}
#righ-profile
{
    justify-self:right;
}

/* padrões */
.disabled
{
    background:#eee;
    color:gray;
}
.mainlogo
{
    height:200px;
    width:200px;
}
.retmsge1
{
    text-align:center;
    margin-top:-5px;
    color:red;
}
.fanimate
{
    animation:fanimate 0.8s;
}
.separate
{
    width:100%;
    border-style:solid;
    border-color:#eee;
    margin:10px 0 10px 0;
}
.alrt-text-1, .alrt-text-2
{
    font-family:var(--ffml-base);
    font-weight:bold;
    width:100%;
    font-size:15px;
    margin:0;
    margin-top:10px;
    text-align:center;
}
.alrt-text-1 {color:red;}
.alrt-text-2 {color:green;}

h2
{
    color:var(--red-dark)
}
img
{
    height:50px;
    width:50px;
}

/* animações */
@keyframes fanimate
{
    from {opacity:0;}
    to   {opacity:1;}
}

@media screen and (max-width:880px)
{
    #left-profile
    {
        justify-self:center;
    }
    #righ-profile
    {
        justify-self:center;
    }
}
@media screen and (max-width:1350px)
{
    .topbar-link
    {
        transition:none;
    }
    #top_bar
    {
        visibility:hidden;
        position:absolute;
    }
}