/* estrutura */
body
{
    margin:0;
    display:flex;
    justify-content:center;
    background:white;
    font-family:Poppins;
    background:#de405a;
}

/* formulário */
.mainform
{
    position:fixed;
    top:0; bottom:0;
    font-family:"Bahnschrift";
}
.maininpt
{
    width:350px;
    padding:10px;
    border-radius:4px;
    border:1px solid #ccc;
    margin:0 0 20px 10px;
    transition:all 0.3s ease;
}
.maininpt:focus
{
    box-shadow:0 0 5px 1px #BF0000;
}
.maininpt:focus, .mainbutn:focus, .update-input:focus
{
    outline:0;
}
.mainbutn, .demibutn
{
    background:#BF0000;
    color:white;
    height:41px;
    padding:11px 0 6px 0;
    border:none;
    border-radius:4px;
    font-family:"Bahnschrift";
    font-weight:bold;
    font-size:17px;
    transition:all 0.3s ease;
}
.mainbutn:hover, .demibutn:hover
{
    cursor:pointer;
    background:#ddd;
    color:#BF0000;
}
.labltext
{
    height:37px;
    width:70px;
    margin:0 10px 20px 0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:right;
}

.topbar
{
    position:fixed;
    top:0; left:100px;
    align-items:center;
    width:100%;
    height:100px;
    background-color:#fefefe;
    box-shadow:0 0 10px -1px rgba(0, 0, 0, 0.7);
    z-index:2;
}
.saga-titl
{
    width:auto;
    height:50px;
    position:fixed;
    left:130px;
}
.saga-stud
{
    position:fixed;
    right:15px;
    padding:10px 10px 10px 24px;
    border-radius:10px;
    transition:all 0.3s ease;
}
.saga-stud:hover
{
    cursor:default;
    background:#222;
    top:15px;
}
.saga-stud:hover .stud-name,
.saga-stud:hover .stud-mail
{
    color:#fefefe;
}
.saga-stud:hover .stud-text
{
    margin-top:11px;
}
.saga-stud:hover .stud-hidden
{
    position:relative;
    visibility:visible;
    opacity:1;
}
.stud-ball
{
    width:50px;
    height:50px;
    background:#ddd;
    border-radius:50%;
    background-size:cover;
    background-position:center;
}
.stud-name, .stud-mail
{
    color:#222;
    font-size:15px;
    font-family:"Arial";
    font-weight:bold;
    margin:0 15px 0 0;
    text-align:right;
    transition:all 0.2s ease;
}
.stud-mail
{
    font-size:10px;
}
.stud-hidden
{
    visibility:hidden;
    position:fixed;
    opacity:0;
}
.stud-link
{
    width:80px;
    padding:3px 0 3px 0;
    color:#fefefe;
    font-size:13px;
    font-family:"Arial";
    text-decoration:none;
    transition:all 0.3s ease;
}
.stud-link:hover
{
    filter:brightness(0.75);
}
.topbar-link
{
    color:#222;
    text-decoration:none;
    font-family:"Arial";
    font-weight:bold;
    margin:20px 30px 10px 30px;
    transition:all 0.5s ease;
}
.topbar-link:hover
{
    color:#BF0000;
}
.topbar-hr
{
    width:500px;
    border:solid 2px #222;
}
.sidebar
{
   position:fixed;
   top:0; left:0;
   height:100%;
   background:#222;
   color:#fefefe;
   padding:0 25px 0 25px;
   width:200px;
   z-index:3;
   transition:all 0.3s ease;
}
.sidebar-link
{
    color:#fefefe;
    height:70px;
    background:#222;
    border-radius:50%;
    transition:all 0.3s ease;
}
.sidebar-link:hover
{
    cursor:pointer;
    background:#19467E;
}
.sidebar-icon
{
    margin:10px 0 10px 0;
}
.sidebar-label
{
    position:fixed;
    margin:-55px 0 0 65px;
    font-size:18px;
    font-weight:bold;
    font-family:Poppins;
    transition:all 0.2s ease;
}
.sidebar-hr
{
    width:calc(100% - 2px);
    border-style:solid;
    border-color:#fefefe;
}

.content
{
    margin:100px 0 0 100px;
    padding:20px;
    width:100%;
}
.sidebar-menu
{
    position:fixed;
    margin:25px 0 0 25px;
    top:0; left:0;
    transition:all 0.3s ease;
}
.sidebar-menu:hover
{
    cursor:pointer;
    filter:brightness(0.75);
}
.s-gmain
{
    display:grid;
    grid-gap:15px;
    grid-template-columns:300px 1fr;
}
.box, .box1, .box2
{
    width:100%;
    height:100%;
    background:white;
    border-radius:10px;
    box-shadow:0 0 10px -1px rgba(0, 0, 0, 0.7);
}
.box1
{
    width:calc(100% - 20px);
    height:500px;
    overflow-y:scroll;
    display:grid;
    grid-gap:10px;
    padding:10px;
}
.student-card
{
    width:305px;
    height:605px;
    border-radius:25px;
    padding:20px;
    background:linear-gradient(135deg, #0198F8 0%, #194982 100%);
}
.card-imge
{
    height:120px;
    width:90px;
    background:lightgray;
    margin-bottom:8px;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:all 0.3s ease;
}
.card-imge:hover
{
    filter:brightness(0.8);
    cursor:pointer;
}
.card-name, .card-text
{
    margin:0 0 15px 0;
    font-size:25px;
    color:white;
    font-weight:bold;
    font-family:"Leelawadee UI";
}
.card-text
{
    margin:0 0 5px 0;
    font-size:15px;
    color:#b5dcf5;
}
.update-group
{
    font-family:"Bahnschrift";
    margin:20px 0 5px 0;
}
.update-label
{
    font-weight:bold;
    font-family:"Arial";
    color:#BF0000;
    margin-top:5px;
}
.update-input
{
    background:white;
    font-size:18px;
    padding:8px 8px 5px 8px;
    border-radius:5px 5px 0 0;
    border-style:solid;
    border-width:0 0 1px 0;
    border-color:#0198F8;
    margin-bottom:5px;
    transition:all 0.3s ease;
}
.update-input:hover
{
    color:#0198F8;
}
.update-input:focus
{
    box-shadow:inset 0 0 10px -1px #0198F8;
}
.demibutn
{
    height:36px;
    width:50%;
    margin:-4px 0 0 5px;
    background:#0198F8;
}
.demibutn:hover
{
    color:#0198F8;
}
.profile
{
    width:auto;
    display:grid;
    grid-gap:20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

/* miscelâneo */
.vertline
{
    height:95px;
    width:4px;
    border-radius:2px;
    background:lightgray;
}
.rowalign, .clmalign
{
    display:flex;
    justify-content:center;
}
.rowalign
{
    flex-direction:row;
}
.clmalign
{
    flex-direction:column;
}
.collapse
{
    width:50px;
}
.invobjct
{
    visibility:hidden;
    position:fixed;
    opacity:0;
}
#left-profile
{
    justify-self:left;
}
#righ-profile
{
    justify-self:right;
}

/* padrões */
.disabled
{
    background:#eee;
    color:gray;
}
.mainlogo
{
    height:200px;
    width:200px;
}
.retmsge1
{
    text-align:center;
    margin-top:-5px;
    color:red;
}
.fanimate
{
    animation:fanimate 0.8s;
}
.separate
{
    width:100%;
    border-style:solid;
    border-color:#eee;
    margin:10px 0 10px 0;
}
.alrt-text-1, .alrt-text-2
{
    font-family:Poppins;
    font-weight:bold;
    width:100%;
    font-size:15px;
    margin:0;
    margin-top:10px;
    text-align:center;
}
.alrt-text-1 {color:red;}
.alrt-text-2 {color:green;}

h2
{
    color:#BF0000;
}
img
{
    height:50px;
    width:50px;
}

/* animações */
@keyframes fanimate
{
    from {opacity:0;}
    to   {opacity:1;}
}

@media screen and (max-width:880px)
{
    #left-profile
    {
        justify-self:center;
    }
    #righ-profile
    {
        justify-self:center;
    }
}
@media screen and (max-width:1350px)
{
    .topbar-link
    {
        transition:none;
    }
    #top_bar
    {
        visibility:hidden;
        position:absolute;
    }
}